In [1]:
import pandas as pd

In [3]:
sim_df = pd.read_csv("2_SimUtilizationReport.csv")

In [4]:
sim_df.shape

(337, 4)

In [5]:
act_df = pd.read_csv("5_ActualSystemUtilization.csv")

In [6]:
act_df.shape

(715, 5)

In [7]:
sim_df.columns

Index(['Date', 'Time', 'System Utilization', 'Active Jobs'], dtype='object')

In [8]:
sim_df.rename(columns={"System Utilization": "Simulation Utilization"},inplace=True)

In [9]:
sim_df

           Date  Time  Simulation Utilization  Active Jobs
0    2021/03/08    21               41.340333     6.666667
1    2021/03/08    22               77.925667    18.000000
2    2021/03/08    23               82.372500    23.000000
3    2021/03/09     0               47.844167    26.333333
4    2021/03/09     1               47.179333    25.333333
..          ...   ...                     ...          ...
332  2021/03/22    17               98.509333    74.333333
333  2021/03/22    18               99.150000    74.833333
334  2021/03/22    19               98.374000    75.000000
335  2021/03/22    20               97.684333    75.166667
336  2021/03/22    21               99.728667    74.333333

[337 rows x 4 columns]

In [10]:
act_df

           Date  Hours       Up  Reserved  SystemUtilization
0    2021/03/01     21  1399.00   1364.45              97.53
1    2021/03/01     22  1399.00   1362.35              97.38
2    2021/03/01     23  1400.35   1359.15              97.06
3    2021/03/02      0  1402.00   1361.40              97.10
4    2021/03/02      1  1402.00   1361.10              97.08
..          ...    ...      ...       ...                ...
710  2021/03/31     17  1363.00    221.75              16.27
711  2021/03/31     18  1363.00    197.35              14.48
712  2021/03/31     19  1363.00    159.40              11.69
713  2021/03/31     20  1363.00    149.35              10.96
714  2021/03/31     21  1363.00    147.00              10.79

[715 rows x 5 columns]

In [11]:
sim_df["Actual Utilization"] = act_df["SystemUtilization"]

In [12]:
sim_df

           Date  Time  Simulation Utilization  Active Jobs  Actual Utilization
0    2021/03/08    21               41.340333     6.666667               97.53
1    2021/03/08    22               77.925667    18.000000               97.38
2    2021/03/08    23               82.372500    23.000000               97.06
3    2021/03/09     0               47.844167    26.333333               97.10
4    2021/03/09     1               47.179333    25.333333               97.08
..          ...   ...                     ...          ...                 ...
332  2021/03/22    17               98.509333    74.333333               95.38
333  2021/03/22    18               99.150000    74.833333               95.41
334  2021/03/22    19               98.374000    75.000000               95.40
335  2021/03/22    20               97.684333    75.166667               95.33
336  2021/03/22    21               99.728667    74.333333               95.22

[337 rows x 5 columns]

In [15]:
sim_df[["Date","Time","Simulation Utilization","Actual Utilization"]].to_csv("7_plot.csv")

In [16]:
sim_df[["Date","Time","Simulation Utilization","Actual Utilization"]].groupby("Date").mean().to_csv("8_average_plot.csv")